MC.RocketMatter/Connected Services/Authentication/Authentication106.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Authentication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Authentication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" />
  <xs:complexType name="GrantTokenRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="client_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="client_secret" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="grant_type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GrantTokenRequest" nillable="true" type="tns:GrantTokenRequest" />
  <xs:complexType name="RefreshTokenRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" base="q2:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="refresh_token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RefreshTokenRequest" nillable="true" type="tns:RefreshTokenRequest" />
  <xs:complexType name="RevokeTokenRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" base="q3:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RevokeTokenRequest" nillable="true" type="tns:RevokeTokenRequest" />
</xs:schema>