MC.RocketMatter/Connected Services/Authentication/Authentication5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Response.Authentication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Response.Authentication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" />
  <xs:complexType name="GrantTokenResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" base="q1:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="access_token" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="expires_at" type="xs:dateTime" />
          <xs:element minOccurs="0" name="expires_in" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="refresh_token" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GrantTokenResponse" nillable="true" type="tns:GrantTokenResponse" />
  <xs:complexType name="RevokeTokenResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" base="q2:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RevokeTokenResponse" nillable="true" type="tns:RevokeTokenResponse" />
</xs:schema>