MC.RocketMatter/Connected Services/Authentication/Authentication108.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Authentication" />
  <xs:import schemaLocation="https://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Response.Authentication" />
  <xs:import schemaLocation="https://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" />
  <xs:import schemaLocation="https://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Mobile" />
  <xs:import schemaLocation="https://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Response.Mobile" />
  <xs:element name="GrantToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Authentication" minOccurs="0" name="req" nillable="true" type="q1:GrantTokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GrantTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Response.Authentication" minOccurs="0" name="GrantTokenResult" nillable="true" type="q2:GrantTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Authentication" minOccurs="0" name="req" nillable="true" type="q3:RefreshTokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Response.Authentication" minOccurs="0" name="RefreshTokenResult" nillable="true" type="q4:GrantTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" minOccurs="0" name="req" nillable="true" type="q5:BaseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" minOccurs="0" name="LogOutResult" nillable="true" type="q6:BaseResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewRefreshToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Authentication" minOccurs="0" name="req" nillable="true" type="q7:GrantTokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewRefreshTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Response.Authentication" minOccurs="0" name="GetNewRefreshTokenResult" nillable="true" type="q8:GrantTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Authentication" minOccurs="0" name="req" nillable="true" type="q9:RevokeTokenRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RevokeTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Response.Authentication" minOccurs="0" name="RevokeTokenResult" nillable="true" type="q10:RevokeTokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileAuthenticationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Mobile" minOccurs="0" name="req" nillable="true" type="q11:GetMobileAuthenticationCodeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileAuthenticationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Response.Mobile" minOccurs="0" name="GetMobileAuthenticationCodeResult" nillable="true" type="q12:GetMobileAuthenticationCodeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>