MC.RocketMatter/Connected Services/Authentication/Authentication4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Mobile" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO.Request.Mobile" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" />
  <xs:complexType name="GetMobileAuthenticationCodeRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Otive.Web.API_V2.DTO" base="q1:BaseRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthenticationToken" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetMobileAuthenticationCodeRequest" nillable="true" type="tns:GetMobileAuthenticationCodeRequest" />
</xs:schema>