MC.RocketMatter/Connected Services/Authentication/Authentication7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Origin.Core.Validation.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Origin.Core.Validation.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Origin.Core" />
  <xs:import schemaLocation="http://rm17.rocketmatter.net/Rocket700560/API_V2/Authentication.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BaseValidationObject">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Origin.Core" base="q1:BaseObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseValidationObject" nillable="true" type="tns:BaseValidationObject" />
  <xs:complexType name="ArrayOfValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidationResult" nillable="true" type="tns:ValidationResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidationResult" nillable="true" type="tns:ArrayOfValidationResult" />
  <xs:complexType name="ValidationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FailedValidationMessages" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="MaxLength" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="MinLength" type="xs:boolean" />
      <xs:element minOccurs="0" name="MinValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precision" type="xs:boolean" />
      <xs:element minOccurs="0" name="PropertyDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Required" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValueEntered" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidationResult" nillable="true" type="tns:ValidationResult" />
</xs:schema>