MC.RocketMatter/Connected Services/Router/Router.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Router" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://rocketmatter.net/router/Router.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://rocketmatter.net/router/Router.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRouter_GetDomainForInstall_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDomainForInstall" />
  </wsdl:message>
  <wsdl:message name="IRouter_GetDomainForInstall_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDomainForInstallResponse" />
  </wsdl:message>
  <wsdl:message name="IRouter_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IRouter_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IRouter_SegmentChanged_InputMessage">
    <wsdl:part name="parameters" element="tns:SegmentChanged" />
  </wsdl:message>
  <wsdl:message name="IRouter_SegmentChanged_OutputMessage">
    <wsdl:part name="parameters" element="tns:SegmentChangedResponse" />
  </wsdl:message>
  <wsdl:portType name="IRouter">
    <wsdl:operation name="GetDomainForInstall">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/GetDomainForInstall" message="tns:IRouter_GetDomainForInstall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/GetDomainForInstallResponse" message="tns:IRouter_GetDomainForInstall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/Ping" message="tns:IRouter_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/PingResponse" message="tns:IRouter_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SegmentChanged">
      <wsdl:input wsaw:Action="http://tempuri.org/IRouter/SegmentChanged" message="tns:IRouter_SegmentChanged_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRouter/SegmentChangedResponse" message="tns:IRouter_SegmentChanged_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRouter" type="tns:IRouter">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDomainForInstall">
      <soap:operation soapAction="http://tempuri.org/IRouter/GetDomainForInstall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IRouter/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SegmentChanged">
      <soap:operation soapAction="http://tempuri.org/IRouter/SegmentChanged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Router">
    <wsdl:port name="BasicHttpBinding_IRouter" binding="tns:BasicHttpBinding_IRouter">
      <soap:address location="http://web10.rocketmatter.com/router/Router.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>